@using RTOG.App.Models.Modals;
@model AddUnitsModalModel

<h2>Buy units</h2>
<div style="width:90%;height:80%;border:1px solid black; padding:1rem;">
    @foreach(var unit in Model.Units)
    {
        <div style="padding:2px;border:1px solid black">
            <p>@unit</p>
            <span id="@(unit + "counter")">0</span>
            <span>
                <button onclick="addUnit(@("\"" + unit +"\""))">+</button>
                <button onclick="remUnit(@("\"" + unit +"\""))">-</button>
            </span>
        </div>
    }
</div>
<a href="#" rel="modal:close" onclick="confirm()">Confirm</a>
<a href="#" rel="modal:close">Cancel</a>

<script>
    var units = [];
    function addUnit(unitID){
        units.push(unitID);
        console.log(units)
        updateCount(unitID);
    }
    function remUnit(unitID){
        let index = units.indexOf(unitID);
        if (index > -1)
            units.splice(index, 1);
        updateCount(unitID);
    }


    function updateCount(unitID){
        let count = 0;
        for (let i = 0; i < units.length; i++) {
            if (units[i] === unitID) {
                count++;
            }
        }

        $('#' + unitID + 'counter').text(count.toString());
    }
    function confirm() {
        ajaxBody({
            type: 'POST',
            url: '@Url.Action("Create", "Unit")' + "/" + @Model.playerID + "/" + @Model.tileID,
            data: units,
            success: function() {
                page.updateOtherGamePlayers()
            } 
        })
    }
</script>