@using RTOG.App.Models.Modals;
@model AddUnitsModalModel

<h2>Buy units</h2>
<div style="width:90%;height:80%;border:1px solid black; padding:1rem;">
    @foreach(var unit in Model.Units)
    {
        <div class="is-flex-row" style="padding:4px;border:1px solid black; justify-content:space-between;align-items:center;margin:2px;">
            <div>
                @unit
            </div>
            <span>
                <span id="@(unit + "counter")">0</span>
                <button class="padding" onclick="addUnit(@("\"" + unit +"\""))">+</button>
                <button class="padding" onclick="remUnit(@("\"" + unit +"\""))">-</button>
            </span>
        </div>
    }
</div>
<div class="is-flex-row" style="justify-content:space-around; align-items:center; margin-top:18px">
    <a href="#" rel="modal:close" onclick="confirm()">Confirm</a>
    <a href="#" rel="modal:close">Cancel</a>
</div>

<script>
    var units = [];
    function addUnit(unitID){
        units.push(unitID);
        updateCount(unitID);
    }
    function remUnit(unitID){
        let index = units.indexOf(unitID);
        if (index > -1)
            units.splice(index, 1);
        updateCount(unitID);
    }

    function updateCount(unitID){
        let count = 0;
        for (let i = 0; i < units.length; i++) {
            if (units[i] === unitID) {
                count++;
            }
        }

        //$('#' + unitID + 'counter').text(count.toString());
        $('#' + unitID + 'counter').each(function(){
            $(this).text(count.toString());
        })
        
    }
    function confirm() {
        ajaxBody({
            type: 'POST',
            url: '@Url.Action("Create", "Unit")' + "/" + @Model.playerID + "/" + @Model.tileID,
            data: units,
            success: function() {
                page.updateOtherGamePlayers()
            } 
        })
    }
</script>