@using RTOG.App.Models.Modals;
@model AddUnitsModalModel

<h2>Buy units</h2>
<div style="width:90%;height:80%;border:1px solid black; padding:1rem;">
    @foreach(var unit in Model.UnitOptions)
    {
        <div class="is-flex-row" style="padding:4px;border:1px solid black; justify-content:space-between;align-items:center;margin:2px;">
            <div>
                Create @unit.Name (@unit.Price Gold)
            </div>
            <span>
                <span class="@(unit.Type + "counter")">0</span>
                <button class="padding btn-green" style="width:2rem; cursor:pointer" onclick="addUnit(@("\'" +Json.Serialize(unit)+"\'"))">+</button>
                <button class="padding btn-green" style="width:2rem;cursor:pointer" onclick="remUnit(@("\'" +Json.Serialize(unit)+"\'"))">-</button>
            </span>
        </div>
    }
    <div class="is-flex-row" style="padding:4px;border:1px solid black; justify-content:space-between;align-items:center;margin:2px;">
        <span class="totalCost">Total cost: 0</span>
        </div>
</div>
<div class="is-flex-row" style="justify-content:space-around; align-items:center; margin-top:18px">
    <a class="modalButton" href="#" rel="modal:close" onclick="confirm()">Confirm</a>
    <a class="modalButton" href="#" rel="modal:close" style="background-color:var(--red);">Cancel</a>
</div>

<script>
    var units = [];
    var totalCost = 0;
    function addUnit(unitID){
        units.push(JSON.parse(unitID));
        totalCost += JSON.parse(unitID).price;
        updateCount(JSON.parse(unitID).type);
    }
    function remUnit(unitID){
        totalCost -= JSON.parse(unitID).price;
        if(totalCost < 0)
            totalCost = 0;
        let unitObj = JSON.parse(unitID);
        let index = units.findIndex(u => u.Name === unitObj.Name);
        if (index > -1)
            units.splice(index, 1);
        updateCount(JSON.parse(unitID).type);
    }

    function updateCount(unitID){
        let count = 0;
        for (let i = 0; i < units.length; i++) {
            if (units[i].type === unitID) {
                count++;
            }
        }
        $('.' + unitID + 'counter').each(function(){
            $(this).text(count.toString());
        })
        //trenunto proveravamo na backend da li imas dovoljno pare mozes da das vise units da se naprave ali nece se uradi ako nemas pare
        $('.totalCost').each(function () {
            $(this).text("Total cost: " + totalCost);
        })
        
    }
    function confirm() {
        ajaxBody({
            type: 'POST',
            url: '@Url.Action("Create", "Unit")' + "/" + @Model.playerID + "/" + @Model.tileID,
            data: units,
            success: function() {
                page.updateOtherGamePlayers()
            } 
        })
    }
</script>