@using RTOG.App.Models.Modals;
@model GameViewModel

<script src="~/js/MapInit.js"></script>
<input id="CreateUnitURL" hidden value="@Url.Action("Create", "Unit")" />
    <script type="module">
        Game = @Json.Serialize(Model.Game);
        import { mapObject } from "/js/Map.js";
        mapObject.DrawBoard();
    </script>
<script src="/lib/bootstrap-menu/BootstrapMenu.min.js"></script>
<script type="module" src="~/js/menu.js" defer></script>

<!-- Link BootstrapMenu CSS stylesheet -->
<link rel="stylesheet" href="/css/dropdown.css">

<div class="is-flex-row">

    <div class="is-flex-down" style="flex-shrink:0; justify-content: flex-start; align-items:flex-start; width:120px;">
        <h1>@Model.MyAccount.Username</h1>
        <p>Gold: @Model.MyAccount.Player.TotalGold</p>
        <p>Tiles: @Model.MyAccount.Player.OwnedTiles.Count (@Model.Game.Map.getTilePercentageString(Model.MyAccount.Player.OwnedTiles.Count))</p>
        <p>Current Turn: @Model.Game.TurnCounter</p>


        <button class="padding" onclick="page.endTurn()">End Turn</button>
    </div>

    <div id="Map">
    </div>

    <div class="is-flex-down" style="flex-shrink:0; justify-content: flex-start; align-items:flex-end; width:120px;">
        @foreach (var player in Model.Game.Players)
        {
            if (player.Name == Model.MyAccount.Username) continue;
            <div class="padding" style="@(Model.Game.IsPlaying(player) ? "":"opacity:0.5;")border:1px solid black; flex-shrink:0; width: 80%; margin-bottom:1rem;">
                <h2>@player.Name</h2>
                <p>money:</p>
                <p>stats</p>
            </div>
        }
    </div>
</div>

<div class="modal" id="unitsSelectModal">
</div>

<div class="modal" id="upgradeUnitsModal">
</div>

<div class="modal" id="addUnitsModal">
</div>

<script>
    $(document).ready(function () {
        $.notify("Your turn!", { position: 'top center' })
        $('#unitsSelectModal').on('modalClose', function(event, units) {
            if (window.activeAction == 2) {
                // upgrade selected units
                console.log("units selected for upgrade:", units);
                let upgradeID = window.selectedUpgradeID;
                ajaxBody({
                    type: 'POST',
                    url: '@Url.Action("UpgradeUnits", "Unit")' + '/' + upgradeID,
                    data: units,
                    success: function(response) {
                        page.updateOtherGamePlayers();
                    }
                })
            }
            else {
                //kod ako je selected units za move
                let tileID = window.selectedTileID;
                ajaxBody({
                    type: 'POST',
                    url: '@Url.Action("MoveUnits", "Unit")' + '/' + tileID,
                    data: units,
                    success: function(){
                        page.updateOtherGamePlayers();
                    }
                })
            }
        });

        $('#upgradeUnitsModal').on('upgradesModalClose', function(event, upgradeID) {
            page.showUnitsSelectModal(window.selectedTileID, upgradeID);
        });
    });

    page.showAddUnitsModal = function(tileID){
        ajaxQuery({
            type: 'GET',
            url: '@Url.Action("getAddUnitsModal", "Unit")',
            data:{
                playerID: @Model.MyAccount.Player.ID,
                tileID: tileID
            },
            success: function(response) {
                $('#addUnitsModal').html(response);
                $('#addUnitsModal').modal();
            }
        })
    }
    page.showUpgradeUnitsModal = function(tileID){
        ajaxQuery({
            type: 'GET',
            url: '@Url.Action("getUpgradeUnitsModal", "Unit")',
            data: {
                tileID: tileID
            },
            success: function(response) {
                $('#upgradeUnitsModal').html(response);
                $('#upgradeUnitsModal').modal();
            }
        })
    }
    page.showUnitsSelectModal = function(tileID, upgradeID = 0) {
        ajaxQuery({
            type: 'GET',
            url: '@Url.Action("getUnitsSelectModal", "Unit")',
            data: {
                tileID: tileID,
                upgradeID: upgradeID
            },
            success: function (response) {
                $('#unitsSelectModal').html(response);
                $('#unitsSelectModal').modal();
            }
        })
    }

    page.endTurn = function(){
        ajaxQuery({
            type: 'GET',
            url: '@Url.Action("NextTurn", "Game")',
            data: {
                gameID: @Model.Game.ID
            },
            success: function (response){
                console.log(response)
                if(response)
                    console.log("Game over")//nikola ovde popovati end screen za sve
                var wineris = @Model.MyAccount.Player;
                page.updateOtherGamePlayers();
            }
        });
    }
</script>