@model LobbyViewModel
@{
    ViewData["Title"] = Model.Lobby.Host.Username + "'s Lobby";
}


<div style="display:flex; align-items:center; justify-content:space-between;
            align-self:start;margin-bottom:1em;">
    <h2>
        Lobby code:
        <a id="lobbyCode" class="btn hoverBackground" style="border:1px solid var(--black);border-radius:0.2em;padding:0.2em" onclick="CopyLobbyCode()">
            @Model.Lobby.Code
        </a>
    </h2>
    
    @if(Model.Lobby.Host.ID == Model.MyAccount.ID)
    {
        <button style="width:5em" class="btn-green biggest-font padding" onclick="StartGame()">START</button>
    }
    else
    {
        <button style="width:5em;opacity:0.5;" class="btn-green biggest-font padding" disabled>START</button>
    }
</div>

<div style="display:flex;flex-direction:column;align-items:center;">
    <div class="lobby-card white-bg" style="width:40em;display:flex;align-items:center;gap:0.3em">
        <i class="iconoir-antenna-signal-tag" style="font-size:1.6em" title="Host"></i>
        @if(Model.Lobby.Host.ID == Model.MyAccount.ID)
        {
            <strong style="color:var(--red)">@Model.Lobby.Host.Username (Me)</strong>
            
            <table id="colorTable" style="background-color:transparent;margin-left:auto;">
                <tr>
                    <td class="btn" style="background-color:#f44;height:1em;width:1em;border:1px solid var(--black);"></td>
                    <td class="btn" style="background-color:#4f4;height:1em;width:1em;border:1px solid var(--black);"></td>
                    <td class="btn" style="background-color:#44f;height:1em;width:1em;border:1px solid var(--black);"></td>
                </tr>
            </table>

            <div style="margin-left:auto">
                Faction:
                <select>
                    <option>Elves</option>
                    <option>Orcs</option>
                    <option>Humans</option>
                </select>
            </div>
        }
        else
        {
            <strong>@Model.Lobby.Host.Username</strong>
        }

    </div>

    @foreach (var player in Model.Lobby.Players)
    {
        <div class="lobby-card trans-white-bg" style="margin-left:2em; width:38em; display:flex;align-items:center;gap:0.3em">
            @if (player.ID == Model.MyAccount.ID)
            {
                <b style="color:var(--red)">@player.Username (Me)</b>
                
            
                <table id="colorTable" style="background-color:transparent;margin-left:auto;">
                    <tr>
                        <td class="btn" style="background-color:#f44;height:1em;width:1em;border:1px solid var(--black);"></td>
                        <td class="btn" style="background-color:#4f4;height:1em;width:1em;border:1px solid var(--black);"></td>
                        <td class="btn" style="background-color:#44f;height:1em;width:1em;border:1px solid var(--black);"></td>
                    </tr>
                </table>

                <div style="margin-left:auto">
                    Faction:
                    <select>
                        <option>Elves</option>
                        <option>Orcs</option>
                        <option>Humans</option>
                    </select>
                </div>
            }
            else
            {
                <b>@player.Username</b>
            }

        </div>
    }
</div>

<input id="AccountID" hidden value="@Model.MyAccount.ID" />
<input id="LobbyID" hidden value="@Model.Lobby.ID" />
<input id="DisbandLobbyUrl" hidden value="@Url.Action("DisbandLobby","Lobby", null, Context.Request.Scheme)" />
<input id="CreateGameUrl" hidden value="@Url.Action("CreateGame","Game", null, Context.Request.Scheme)" />
<input id="GameUrl" hidden value="@Url.Action("Game", "Game", null, Context.Request.Scheme)" />

<script>
    var colors = ['#000', '#f33', '#3f3', '#33f'];
    $(document).ready(function () {

    });

    function StartGame(){
        let accountId = $('#AccountID').val()
        let lobbyId = $('#LobbyID').val()
        $.ajax({
            type: 'POST',
            url: $('#CreateGameUrl').val() + "/" + accountId + "/" + lobbyId + "/8",
            success: function (response) {
                window.location.href = $('#GameUrl').val() + "/" + accountId + "/" + response.id  
            }
        });
    }
    function CopyLobbyCode(){
        navigator.clipboard.writeText("@Model.Lobby.Code");
        $('#lobbyCode').notify(
            "Copied to clipboard!",
            {
                position: 'right',
            }
        );
    }
</script>